<ion-item [lines]="lines" class="custom-input">
	@if (label) {
	<ion-label [position]="labelPosition" [color]="hasError ? 'danger' : ''">
		{{ label }}
		@if (required) {
		<span class="required-asterisk">*</span>
		}
	</ion-label>
	}

	<ion-input [type]="type" [placeholder]="placeholder" [value]="value" [disabled]="disabled" [clearInput]="clearable"
		[color]="hasError ? 'danger' : ''" (ionInput)="onInputChange($event)" (ionBlur)="onInputBlur()"
		(ionFocus)="onInputFocus()">
	</ion-input>

	@if (icon) {
	<ion-icon [name]="icon" slot="start"></ion-icon>
	}

	@if (hasError && errorMessage) {
	<ion-note slot="error" color="danger">
		{{ errorMessage }}
	</ion-note>
	}
</ion-item>